@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
  
@font-face {
  font-family: 'Lora';
  src: url(fonts/Lora-VariableFont_wght.ttf);
}

:root {
  --blueLight: #1A6F88;
  --bluedark: #113D4A;
  --accentColor: rgb(253, 203, 145);
  --blueGradient: linear-gradient(var(--blueLight),var(--bluedark));
  --regularTransition: 300ms ease-in;
  --boxShadow: 5px 5px 20px rgba(0,0,0,0.5);
  --boxShadowAccent: 5px 5px 20px var(--accentColor);
  --backgroundColor: #e1e4eb;

  /* Special Glass Effect using background, backdrop-filter and border-right + border-bottom */
  --glassBackgroundBlue: linear-gradient(135deg, rgba(26, 111, 136, 0.9), rgba(17, 61, 74, 0.75));
  --glassBackgroundWhite: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(205, 205, 205, 0.75));
  --glassBackgroundBlur: blur(20px);
  --glassBackgroundBorderBottomAndRight: 1px solid rgba(255,255,255,0.5);
  /* *** */
}
  
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Lora';
  margin: 0 auto;
}